button.btn-custom {
    background-color: black;
    border-radius: 18px; 
    color: #fff;
    padding: 20px 28px;
    position: relative;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    font-size: 20px;
}

button.btn-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #04D004;
    border-radius: 10px;
    filter: blur(8px);
    transition: transform 0.2s ease;
}

button.btn-custom:hover::before {
    transform: scale(1.05);
}

@media (min-width: 1280px) and (max-width: 1728px) {

}

@media (min-width: 768px) and (max-width: 884px) {

    button.btn-custom:hover::before {
        transform: scale(1);
    }
}

@media (max-width: 430px) {
    button.btn-custom {
        margin-left: 0;
    }
    button.btn-custom:hover::before {
        transform: scale(1);
    }
}