.container {
    max-width: 100%;
    padding: 0;
}

.swiper-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.swiper-element img {
    width: 100%;
    height: auto;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent 65%, rgba(0, 0, 0, 0.3) 100%) !important;
}

.swiper-pagination-bullet {
    background-color: #006400 !important;
    opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
    background-color: #04D004 !important;
    opacity: 1 !important;
}


.icon-swiper-mobile {
    margin: 0 16px;
    font-size: 3em;
    transition: color 0.3s ease;
    color: #4d4d4d;
}

.icon-swiper-mobile:hover {
    color: #04D004}


    
@media (min-width: 766px) and (max-width: 884px) {
    .swiper-element img {
        max-width: 60%;;
    }
}



@media (max-width: 768px) {
    .swiper-element {
        padding: 5px !important;
    }
}

