.container {
    max-width: 100%;
    padding: 0;
}

.swiper-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.swiper-element img {
    width: 100%;
    height: auto;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent 50%, rgba(0, 0, 0, 0.2) 100%) !important;
}


@media (max-width: 768px) {
    .swiper-element {
        padding: 5px !important;
    }
}
