button.btn-custom-1 {
    background-color: black;
    border: 1px solid #04D004; 
    border-radius: 18px;
    padding: 20px 28px;
    color: #04D004; 
    font-size: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;
}

button.btn-custom-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #04D004;
    border-radius: 10px;
    filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

button.btn-custom-1:hover {
    border-color: transparent;
    color: white;
    background-color: black;
}

button.btn-custom-1:hover::before {
    opacity: 1;
}


@media (max-width: 768px) {
    .btn-custom-1 {
        font-size: 20px;
        padding: 14px 20px;
    }
}
