.card-custom {
    background-color: rgb(20, 20, 20) !important;
    border: 1px solid rgb(20, 20, 20) !important;
    transition: box-shadow 0.4s ease;

}

.card-custom h4 {
    color: #04D004 !important;
    font-size: 20px;
    font-weight: bold !important;
}

.card-custom p {
    font-size: 16px !important;
    color: #fff;
}


.card-custom:hover {
    box-shadow: 0 0 12px rgba(4, 208, 4, 0.765);
}