.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    padding-bottom: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent 65%, rgba(0, 0, 0, 0.2) 100%);
}


.icon-swiper {
    font-size: 2.8em;
    transition: color 0.3s ease;
    color: #4d4d4d;
}

.icon-swiper:hover {
    color: #04D004;
}