.container-home h1 {
    font-size: 84px !important;
    font-weight: bold !important;
    margin-top: -20px;
    margin-bottom: -18px;
}

.container-home h2 {
    font-size: 59px !important;
    font-weight: bold !important;
    color: #04D004 !important;
}

.container-home h4 {
    margin-left: 4px;
    color: #404040 !important;
}

.container-home p{
    font-size: 24px !important;
}

@media (max-width: 1226px) {
    .container-home h2 {
        font-size: 70px !important;
    }
}

@media (max-width: 884px) {
    .container-home h1 {
        font-size: 72px !important;
    }

    .container-home h2 {
        margin-top: -18px;
        font-size: 62px !important;
    }
}

@media (min-width: 769px) and (max-width: 834px) {
    .container-home h1 {
        font-size: 64px !important;
    }

    .container-home h2 {
        margin-top: -18px;
        font-size: 52px !important;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .container-home h1 {
        font-size: 60px !important;
    }

    .container-home h2 {
        margin-top: -18px;
        font-size: 48px !important;
    }
}