.container-home h1 {
    font-size: 86px !important;
    font-weight: bold !important;
    margin-top: -24px;
    margin-bottom: -18px;
}

.container-home h2 {
    font-size: 59px !important;
    font-weight: bold !important;
    color: #04D004 !important;
}

.container-home h4 {
    margin-left: 4px;
    color: #404040 !important;
}

.container-home p{
    font-size: 24px !important;
}

@media (max-width: 1226px) {
    .container-home h1 {
        font-size: 74px !important;
    }
}

@media (max-width: 834px) {
    .container-home h1 {
        margin-top: -18px;
        font-size: 64px !important;
    }
}

@media (max-width: 320px) {
    .container-home h1 {
        font-size: 64px !important;
    }
}