.container-experience h1 {
    font-size: 78px !important;
    font-weight: bold !important;
    margin-top: -24px;
    margin-bottom: -18px;
}

.container-experience h2 {
    font-size: 50px !important;
    font-weight: bold !important;
    color: #04D004 !important;
}

.container-experience p {
    font-size: 20px !important;
}


@media (min-width: 768px) and (max-width: 884px) {
    .container-experience h1 {
        margin-top: -18px;
        font-size: 68px !important;
    }

    .container-experience h2 {
        margin-left: 40px;
        font-size: 44px !important;
    }
}

@media (min-width: 376px) and (max-width: 428px) {
    .container-experience h1 {
        margin-top: -16px;
        font-size: 54px !important;
    }

    .container-experience h2 {
        margin-left: 36px;
        font-size: 40px !important;
    }
}

@media (min-width: 360px) and (max-width: 376px) {
    .container-experience h1 {
        margin-top: -16px;
        font-size: 54px !important;
    }

    .container-experience h2 {
        margin-left: 26px;
        font-size: 34px !important;
    }
}

@media (max-width: 320px) {
    .container-experience h1 {
        margin-top: -14px;
        font-size: 36px !important;
    }

    .container-experience h2 {
        margin-left: 38px;
        font-size: 30px !important;
    }
}